
<!DOCTYPE html>
<!-- Default Layout Import-->
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout/page-full-width-layout}"
      layout:fragment="Content"
>
	<head>
	    <title>회원가입</title>
	    
	    <!-- inline CSS 영역-->
<!--	    <style th:inline="css" type="text/css">-->
<!--	        body {-->
<!--	            margin: 30px;-->
<!--	            border: 1px solid red;-->
<!--	        }-->
<!--	    </style>-->
	
	    <!-- inline JS 영역-->
	    <script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
	    <script th:inline="javascript" type="text/javascript">
	        $(document).ready(() => {
<!--	            alert("페이지가 시작됩니다.")-->
	        });
   
	    </script>
	</head>

	<body style="margin-top: 100px;">
		<h2>메인페이지입니다</h2>
		
		<h1>로그인 정보</h1>
		
		 <!-- 세션에 저장된 사용자 아이디를 출력합니다 -->
	    <p>User ID: <span th:text="${session.userId}"></span></p>
	    
	    <!-- 세션에 저장된 인증 상태를 출력합니다 -->
	    <p>Authenticated: <span th:text="${session.authenticated}"></span></p>
	
	</body>
</html>