<!DOCTYPE html>
<!-- Default Layout Import-->
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layout/page-full-width-layout}" layout:fragment="Content">
<head>

<title>테스트 페이지</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!-- inline CSS 영역-->
<!--	    <style th:inline="css" type="text/css">-->
<!--	        body {-->
<!--	            margin: 30px;-->
<!--	            border: 1px solid red;-->
<!--	        }-->
<!--	    </style>-->

<!-- inline JS 영역-->
<script th:inline="javascript" type="text/javascript">
	        $(document).ready(() => {
<!--	            alert("페이지가 시작됩니다.")-->
	        });
	        
	    </script>
</head>
<style>
.layout {
	width: 500px;
	margin: 0 auto;
	margin-top: 40px;
}
</style>
<body>

		<div style="margin-top: 200px;" class="container">

		<div style="border-top: solid; border-top-style:1px;  border-bottom: solid; border-bottom-style: 1px;">
		<p><span th:text="${board.title}"></span><span th:text="${board.boardSq}"></span>
		<span ></span>
		<span></span><span></span></p>
		
		</div>
		<div class="container">
		
		<p  th:text="${board.contents}"></p>
		<div>
			<button type="submit" class="btn btn-primary">
								추천
							</button>
		</div>
		</div>
		<div style="margin-top: 100px;">
			<form method="post" th:action="@{/board/{boardSq}/delete(boardSq=${board.boardSq})}">
				<button type="submit" style="float: right;" class="btn btn-danger">
						삭제
				</button>
			</form>
		</div>
		<form method="get" th:action="@{/board/Update/{boardSq}(boardSq=${board.boardSq})}">
		<button type="submit" class="btn btn-primary">
		 수정
		</button>
		</form>
		
			<div>
		</div>
		</div>
		
		

</body>
</html>