<!DOCTYPE html>
<!-- Default Layout Import-->
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layout/page-full-width-layout}" layout:fragment="Content">
<head>

<title>테스트 페이지</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!-- inline CSS 영역-->
<!--	    <style th:inline="css" type="text/css">-->
<!--	        body {-->
<!--	            margin: 30px;-->
<!--	            border: 1px solid red;-->
<!--	        }-->
<!--	    </style>-->

<!-- inline JS 영역-->
<script th:inline="javascript" type="text/javascript">
	        $(document).ready(() => {
<!--	            alert("페이지가 시작됩니다.")-->
	        });
	        
	    </script>
</head>
<style>
.layout {
	width: 500px;
	margin: 0 auto;
	margin-top: 40px;
}
</style>
<body>

	<div class="main">
		<div style="margin-top: 150px;">
			<button type="button" class="btn btn-primary">
				<a th:href="@{/board/Insert}" style="color: white;">등록</a>
			</button>

			<table class="table">
				<thead>
					<tr>
						<th>게시판번호</th>
						<th>게시판유형</th>
						<th>회원아이디</th>
						<th>제목</th>
						<th>내용</th>
						<th>조회수</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="board : ${board}">
						<td><a th:href="@{board/{boardSq}(boardSq=${board.boardSq})}" th:text="${board.boardSq}"></a> </td>
						<td th:text="${board.delCd}"></td>
						<td th:text="${board.mbrId}"></td>
						<td th:text="${board.title}"></td>
						<td th:text="${board.contents}"></td>
						<td th:text="${board.viewCnt}"></td>
					</tr>
				</tbody>
			</table>
			<div>
		</div>
		
		

</body>
</html>