<!DOCTYPE html>
<!--라이브러리 참조 : Thymeleaf & Thymeleaf Layout -->
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

    <!--공통 JS / CSS 영역을 관리하는 환경 영역-->
	<th:block th:replace="~{common/fragmants/config :: configFragment}">
        <title layout:title-pattern="$LAYOUT_TITLE : $CONTENT_TITLE">sample-page sticky sidebar</title>
    </th:block>
    

    <body>
     
        <!--Header 영역을 참조합니다.-->
        <div class="fixed-top">
			<th:block th:replace="~{common/fragmants/header :: headerFragment}"/>
		</div>
		
			
	
        
		
       <div class="container">
	      <div class="row">
	        <div class="col-2 px-1 top-45 position-fixed" id="sticky-sidebar">
	              <th:block th:replace="~{common/fragmants/sidebar_default :: sidebarFragment}"/>
	        </div>
	        <div class="col-5 offset-5" id="main">
	             <div layout:fragment="Content"></div>
	        </div>
	    </div>
     </div>
    
        <!--Footer 영역을 참조합니다.-->
        <th:block th:replace="~{common/fragmants/footer :: footerFragment}"/>
    </body>
</html>