<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.community.enter.domain.mapper.ApplyMapper">
	
	<!-- 지원자리스트 페이지네이션을 위한 카운트 -->
	<select id="loadApplyListCount" resultType="int">
		select count(1)
		from p2_tbl_apply_h as apply
				left outer join P2_TBL_RESUME_M as resume
					on apply.rsm_sq = resume.rsm_sq
				left outer join P2_TBL_POSITION_PROPOSAL_M as posi
					on posi.rsm_sq = resume.rsm_sq
		where apply.jbp_sq = #{jbp_sq}
			and apply.apy_cndtn != 403
			<if test = "condition != 0">
				and apply.apy_cndtn = #{condition}
			</if>
			<if test = "division == 'apply'">
				and posi.pstn_prpsl_sq is null
			</if>
			<if test = "division == 'proposal'">
				and posi.pstn_prpsl_sq is not null
			</if>
	</select>
	
	<!-- 지원자리스트 -->
	<select id="selectApplyListData" resultType="com.community.enter.domain.vo.ApplyListVO">
		select count(1)
		from p2_tbl_apply_h as apply
				left outer join P2_TBL_RESUME_M as resume
					on apply.rsm_sq = resume.rsm_sq
				left outer join P2_TBL_POSITION_PROPOSAL_M as posi
					on posi.rsm_sq = resume.rsm_sq
		where apply.jbp_sq = #{listDataDTO.jbp_sq}
			and apply.apy_cndtn != 403
			<if test = "listDataDTO.condition != 0">
				and apply.apy_cndtn = #{listDataDTO.condition}
			</if>
			<if test = "listDataDTO.division == 'apply'">
				and posi.pstn_prpsl_sq is null
			</if>
			<if test = "listDataDTO.division == 'proposal'">
				and posi.pstn_prpsl_sq is not null
			</if>
		order by apy_dtm #{listDataDTO.sort}
		limit #{pagination.startRowIndex},#{pagination.showDataCountPerPage};
	</select>

</mapper>