@charset "utf-8";

@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

/* reset */
html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,img{margin:0;padding:0;}
html,body{width:100%;height:100%;font-family: 'Roboto Condensed', 'Noto Sans KR', sans-serif;color:#111111;letter-spacing:-0.2px;} /* font-size: 10px; */
ul,ol,dl,li{list-style:none;}
li{word-break:keep-all;}
img,fieldset{border:0;vertical-align:middle;}
img{image-rendering: -webkit-optimize-contrast;image-rendering: crisp-edges;image-rendering: -webkit-optimize-contrast;}
table{table-layout:fixed;border:0;border-spacing:0;border-collapse:collapse;margin: 2rem 0;}
th,td{border:0;word-wrap:break-word;}
table img{vertical-align:middle;}
input,select,textarea{font-family:'Apple SD Gothic Neo', 'Apple SD Gothic', 'Apple Gothic', 'Noto Sans KR', 'Malgun gothic';vertical-align:middle;}
label{cursor:pointer;}
caption{overflow:hidden;width:1px;font-size:1px;line-height:0;text-indent:150%;white-space:nowrap;}
legend,.blind{display:block;overflow:hidden;position:absolute;font-size:1px;line-height:0;color:transparent;text-indent:150%;white-space:nowrap;}
button{overflow:visible;padding:0;margin:0;border:0;outline:0;cursor:pointer;font-family:'Noto Sans KR', sans-serif;background:transparent;}
a{text-decoration:none;color:#111111;}
::-webkit-input-placeholder{color:#97989b;}
:-ms-input-placeholder{color:#97989b;}
::-moz-placeholder{color:#97989b;opacity:1;}
:-moz-placeholder{color:#97989b;opacity:1;}

/* html5 */
object,del,sub,var{margin:0;padding:0;}
article,aside,details,figcaption,figure,footer,header,main,hgroup,menu,nav,section{display:block;}

/* skipNavigation */
#skipNavigation{position:absolute;top:0;left:0;z-index:100;width:100%;height:0;}
#skipNavigation a{position:absolute;left:0;top:0;display:block;overflow:hidden;width:1px;height:1px;margin-left:-1px;margin-bottom:-1px;text-align:center;color:#000;white-space:nowrap;}
#skipNavigation a:focus,#skipNavigation a:hover,#skipNavigation a:active{width:100%;height:auto;padding:10px 0;background:#c4122f;color:#fff;z-index:100;}

a { text-decoration:none !important } a:hover { text-decoration:none !important }
