<!DOCTYPE html>
<!-- Default Layout Import-->
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layout/page-full-width-layout}" layout:fragment="Content">
<head>

<title>테스트 페이지</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!-- inline CSS 영역-->
<!--	    <style th:inline="css" type="text/css">-->
<!--	        body {-->
<!--	            margin: 30px;-->
<!--	            border: 1px solid red;-->
<!--	        }-->
<!--	    </style>-->

<!-- inline JS 영역-->
<script th:inline="javascript" type="text/javascript">
	        $(document).ready(() => {
	        	$.ajax({
	        	    type: "GET",
	        	    url: "/comments",
	        	    dataType: "json",
	        	     success: function (data) {
	        	        console.log(data);
	        	    	 const commentUl = $("#message");
	        	         commentUl.empty(); // 선택 요소 비우는 작업
//	        					alert("실행됐음");
	        				
	        			     // data 배열을 순회하며 각 댓글 정보를 리스트에 추가
	        		        data.forEach(function (comment) {
	        		            const listItem = `<li>${comment.commentSq} ${comment.contents} ${comment.boardSq} <input class="btn btn-danger" type="button" onclick="deleteById(${comment.commentSq})" value="x"> <input class="btn btn-danger" type="button" onclick="updatecomment(${comment.commentSq})" value="수정"></li>`;
	        		            commentUl.append(listItem);
	        		        });

//	        	 	        alert("댓글이 성공적으로 로드되었습니다.");
	        	     },
	        	    error: function () {
	        	        alert("댓글 불러오기에 실패했습니다");
	        	    }
	        	})
	        	});
	        
	    </script>
<script  th:inline="javascript" type="text/javascript">
// var commentList = window.location.href;
// alert("첫실행되나? url을 맵핑해야할것같아 "+commentList);


	const deleteById = (commentSq) => {
// 		console.log("버튼클릭");
// 		alert("실행 commentSq="+commentSq);
		console.log(commentSq);
		
		var delUrl = "/"+commentSq;
		
		$.ajax({
			type: 'delete',
			url: delUrl,
			data : {"commentSq" : commentSq},
		success : function(){
			alert('댓글 삭제 성공했습니다.');
			loadComments();
		},error(){
			alert('댓글 삭제 실패하였습니다 다시 실행해주세요')
			
		}
		})
	}
	
	const updatecomment = (commentSq) => {
// 		console.log("버튼클릭");
// 		alert("실행 commentSq="+commentSq);
		console.log(commentSq);
// 		alert("실행됨 ㅎㅇ ");
		const commentSq1 = commentSq;
		
		
			
	var updUrl = "/comment/"+commentSq1;
	window.open(updUrl,"댓글 수정 팝업","width=500, height=400, top=10, left=10");	
	
	}
	
	function submitComment() {
	    const commentContent = $("#commentContent").val();
	    const commentboardSq = $("#commentboardSq").val();
	    const commentmodifyMbrSq = $("#commentmodifyMbrSq").val();
	    const commentmbrSq = $("#commentmbrSq").val();
	    
	    
	    
	    if(commentContent){
	        $.ajax({
	            type: "post",
	            url: "/comments", 
	           contentType:"application/json; charset=utf-8",
	            data: JSON.stringify({
	            	contents: commentContent,
	            	boardSq : commentboardSq,
	            	modifyMbrSq : commentmodifyMbrSq,
	            	mbrSq : commentmbrSq
	            }),
	            dataType:"json",
	            success: function(response) {
// 	                alert("댓글이 등록되었습니다.");
// 	                commentContent.empty();
	                loadComments(); 
// 	                window.location.reload();
	            }, error: function() {
	            }
	        })
	    } else {
	        alert("댓글 내용을 입력해주세요.");
	    }
	}
	 
	function loadComments() {
	    $.ajax({
	        type: "GET",
	        url: "/comments", 
	        dataType: "json",
	        success: function(data) {
	            const commentUl = $("#message");
	            commentUl.empty(); 
	            data.forEach(function(comment) {
	                const listItem = `<li>${comment.commentSq} ${comment.contents} ${comment.boardSq} <input class="btn btn-danger" type="button" onclick="deleteById(${comment.commentSq})" value="x"> <input class="btn btn-danger" type="button" onclick="updatecomment(${comment.commentSq})" value="수정"></li>`;
	                commentUl.append(listItem);
	            });
	        },
	        error: function() {
	            alert("댓글 불러오기 중 오류가 발생했습니다.");
	        }
	    });
	}
	

</script>
</head>
<style>
.layout {
	width: 500px;
	margin: 0 auto;
	margin-top: 40px;
}
</style>
<body>


		<div style="margin-top: 150px;" class="container">
		<h1>Q&A 게시판</h1>
		<div style="border-top: solid; border-top-style:1px;  margin-top:30px; border-bottom: solid; border-bottom-style: 1px;">
		<label>제목</label>
		<p><span th:text="${board.title}"></span><span th:text="${board.useYn}"></span>
		<span ></span>
		<span></span><span></span></p>
		
		</div>
		<div  class="container text-center" style="margin-top: 30px;">
		
		<p th:text="${board.contents}"></p>
		<div>
			<button type="submit" class="btn btn-primary">
								추천
							</button>
		</div>
		</div>
		<div style="margin-top: 100px;">
			<form method="post" th:action="@{/board/QnA/{boardSq}/delete(boardSq=${board.boardSq})}">
				<button type="submit" style="float: right;" class="btn btn-danger">
						삭제
				</button>
			</form>
		</div>
		<form method="get" th:action="@{/board/Update/{boardSq}(boardSq=${board.boardSq})}">
		<button type="submit" class="btn btn-primary">
		 수정
		</button>
		</form>
		
			<div>
			<table class="table">
<!-- 				<thead> -->
<!-- 					<tr> -->
<!-- 						<th>가보자</th> -->
<!-- 						<th>댓글번호</th> -->
<!-- 						<th>닉네임</th> -->
<!-- 						<th>채택여부</th> -->
<!-- 						<th></th> -->
<!-- 						<th></th> -->
<!-- 						<th>게시판번호</th> -->
<!-- 					</tr> -->
<!-- 				</thead> -->
				
				<tbody>
		
					<tr th:each="co : ${comment}">
						<td>ㄱㄱ</td>
						<td th:text="${co.commentSq}">  </td>
						<td th:text="${co.contents}"></td>
						<th:block th:with="co.selectionYn='Y'">
							<td	th:if="${co.selectionYn} == 'Y' ? '채택완료': '채택대기'"> 채택완료</td>
						</th:block>
						<td th:text="${co.useYn}"></td>
						<td th:text="${co.delYn}"></td>
						<td th:text="${co.boardSq}"></td>
						<td>
							<input class="btn btn-danger" type="button" th:onclick="deleteById([[${co.commentSq}]])" value="삭제">
						</td>											
					</tr>
					
				</tbody>
				</table>
				
	
		<div></div>		
	<form id="commentForm" onsubmit="return submitComment();">
		 

		<input type="hidden" name="boardSq" id="commentboardSq" th:value="${board.boardSq}">
		<input type="hidden" name="modifyMbrSq" id="commentmodifyMbrSq" th:value="${board.boardSq}">
		<input type="hidden" name="mbrSq" id="commentmbrSq" th:value="${board.boardSq}">
		   
	    <textarea cols="100" rows="3" id="commentContent" placeholder="댓글을 입력하세요"></textarea>
	    <button type="submit" class="btn btn-primary">댓글 등록</button>
   </form>


	<div>		
		<ul id="message">
			    
			</ul>
	</div>
		</div>
		<div>
		</div>
		
		</div>
		
		

</body>
</html>