<!DOCTYPE html>
<!-- Default Layout Import-->
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout/page-full-width-layout}"
      layout:fragment="Content"
>
    <head>
        <title>테스트 페이지 </title>
        
        <!-- inline CSS 영역-->
<!--        <style th:inline="css" type="text/css">-->
<!--            body {-->
<!--                margin: 30px;-->
<!--                border: 1px solid red;-->
<!--            }-->
<!--        </style>-->
    
        <!-- inline JS 영역-->
        <script th:inline="javascript" type="text/javascript">
            $(document).ready(() => {
<!--                alert("페이지가 시작됩니다.")-->
            });
        
        </script>
    </head>

    <body>
        <div>
            <h1 style="text-align:center; font-weight: bold;">직원 LIST</h1>
            
                <form class="input-group mb-3" id="searchForm" action="">
                  <input type="text" id="empName" class="form-control" placeholder="직원이름" >
                  <input class="btn btn-outline-secondary" value="submit" type="button" ></input>
                </form>
                
                 <button th:onclick="|location.href='@{/addPage}'|" type="submit"style="float: right; margin-bottom: 30px;" class="btn btn-primary">회원 등록하기</button>
            
                <table class="table mt-5">
                  <thead class="thead-dark">
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">이름</th>
                      <th scope="col">직급</th>
                      <th scope="col">부서</th>
                      <th scope="col">번호</th>
                      <th scope="col">생년월일</th>
                      <th scope="col">입사일자</th>
                         
                    </tr>
                  </thead>
                  <tbody>
                    <tr th:each="employees : ${employees}">
                    
                      <th th:text="${employees.ST_NUM}"></th>
                      <td th:text="${employees.ST_NM}"></td>
                      <td th:text="${employees.ST_PO}"></td>
                      <td th:text="${employees.ST_DP}"></td>
                     
                      <td th:text="${employees.ST_TEL}"></td>
                      <td th:text="${employees.ST_BIR}"></td>
                      <td th:text="${employees.St_ST}"></td>
                      
                      <th><a th:href="@{/view(id=${employees.ST_NUM})}" >상세보기</a></th>
                      
                    </tr>
                  </tbody>

                </table>
                
            
            
        </div>
    </body>
</html>
