@font-face {
	font-family: 'Pretendard Variable';
	font-weight: 45 920;
	font-style: normal;
	font-display: swap;
	src: local('Pretendard Variable'), url('../font/PretendardVariable.woff2') format('woff2-variations');
}

@font-face {
    font-family: 'Pretendard';
    src: url('../font/Pretendard-Thin.woff') format('woff');
    font-weight: 100;
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    src: url('../font/Pretendard-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    src: url('../font/Pretendard-Light.woff') format('woff');
    font-weight: 300;
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    src: url('../font/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    src: url('../font/Pretendard-Medium.woff') format('woff');
    font-weight: 500;
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    src: url('../font/Pretendard-SemiBold.woff') format('woff');
    font-weight: 600;
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    src: url('../font/Pretendard-Bold.woff') format('woff');
    font-weight: 700;
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    src: url('../font/Pretendard-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    src: url('../font/Pretendard-Black.woff') format('woff');
    font-weight: 900;
    font-display: swap;
}



/* poppins-regular - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('../font/poppins-v20-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../font/poppins-v20-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../font/poppins-v20-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../font/poppins-v20-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../font/poppins-v20-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../font/poppins-v20-latin-regular.svg#Poppins') format('svg'); /* Legacy iOS */
}







@font-face {
    font-family: 'Poppins';
    src: url('../font/Poppins-ExtraLight.ttf') format('ttf');
    font-weight: 200;
    font-display: swap;
}
@font-face {
    font-family: 'Poppins';
    src: url('../font/Poppins-Regular.ttf') format('ttf');
    font-weight: 300;
    font-display: swap;
}
@font-face {
    font-family: 'Poppins';
    src: url('../font/Poppins-Light.ttf') format('ttf');
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family: 'Poppins';
    src: url('../font/Poppins-Medium.ttf') format('ttf');
    font-weight: 500;
    font-display: swap;
}
@font-face {
    font-family: 'Poppins';
    src: url('../font/Poppins-Bold.ttf') format('ttf');
    font-weight: 600;
    font-display: swap;
}
@font-face {
    font-family: 'Poppins';
    src: url('../font/Poppins-SemiBold.ttf') format('ttf');
    font-weight: 700;
    font-display: swap;
}


@font-face {
    font-family: 'Utopia Std';
    src: url('../font/UtopiaStd-BoldIt.otf') format('otf');
    src: local(''),
         url('../font/UtopiaStd-BoldIt.otf') format('otf');
    font-weight: 500;
    font-display: swap;
}