@charset "utf-8";

@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/variable/pretendardvariable.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

.wrap {
    width: 100%;
    height: 100%;
}
.head-wrap {
    width: 100%;
    background-image: url("/resources/img/bg-0.png");
    background-size: COVER;
    background-repeat: no-repeat;
}

.b{
    font-weight: 600;
}
.bb{font-weight:800;}
.nl-top{
    max-width: 1320px;
    margin: 0 auto;
    text-align: center;
    clear: both;
}
.logo{
    text-align: center;
    margin-top: 196px;
    margin-bottom: 53px;
}
.nl-h2{
    font-size: 40px;
    font-family: "Pretendard";
    font-weight: 200;
    color: #fff;
}
.nl-h3{
    padding-top: 47px;
    padding-bottom: 72px;
    font-size: 130px;
    color: #fff;
    font-weight: 200;
    font-family: "Poppins";
}

.d-youtube{
    width: 906px;
    height: 500px;
    overflow: hidden;
    margin: 0 auto;
    padding: 10px;
    background-color: #fff;
}
.d-youtube iframe{}

.nl-sum{
    margin-top: 130px;
}
.nl-sum ul{
    clear: both;
    width: 100%;
    height: 100%;
}
.nl-sum ul li{
    width: 440px;
    height: 235px;
    float: left;
    display: table;
}
.nl-sum ul li .nl-div{
    display: table-cell;
    width: 100%;
    vertical-align: middle;
}
.nl-sum ul li .nl-div .nl-title{
    font-size: 40px;
    color: #fff;
    font-family: "Pretendard";
    font-weight: 200;
    /* width: 100%; */
}
.nl-sum ul li .nl-div .nl-p{
    font-size: 24px;
    color: #fff;
    padding-top: 10px;
    font-weight: 300;
}
.nl-sum ul li:nth-child(1){
    background-color: #f7ba00;
}
.nl-sum ul li:nth-child(2){
    background-color: #cabcb7;
}
.nl-sum ul li:nth-child(3){
    background-color: #b5a098;
}
.nl-sum ul li:nth-child(4){
    background-color: #cc9f8e;
}
.nl-sum ul li:nth-child(5){
    background-color: #c0b0aa;
}
.nl-sum ul li:nth-child(6){
    background-color: #cabcb7;
}
.nl-sum ul:after{content:''; clear:both;display: block;}


.gallery-box{
    margin-top: 120px;
    text-align: center;
}
.gallery-box .gallery-list{}
.gallery-box .gallery-list img{}

.ens-title{
    text-align: center;
}
.ens-title h3{
    padding: 115px 0 100px 0;
    font-size: 72px;
    font-weight: 300;
    font-family: "Pretendard";
    line-height: 1.23;
}

.ene-box{
    max-width: 1320px;
    margin: 0 auto;
}
.ene-ul{}
.ene-ul li{
    width: 630px;
    height: 363px;
    background-color: #fff;
    display: inline-block;
    padding: 51px 50px;
    vertical-align: top;
    float: left;
    margin-right: 40px;
    margin-bottom: 40px;
    position: relative;
}
.ene-ul li .elist{}
.ene-ul li .elist .e-nunber{
    padding-bottom: 20px;
}
.ene-ul li .elist .e-nunber img{}
.ene-ul li .elist .e-nunber span{
    font-family: "Utopia Std";
    font-weight: bold;
    font-size: 48px;
    vertical-align: middle;
    display: block;
    height: 33px;
}

.ene-ul li .elist .e-text{
    font-size: 40px;
    font-family: "Pretendard";
    line-height: 1.3;
    height: 120px;
}
.ene-ul li .elist .e-p{
    font-size: 24px;
    font-family: "Pretendard";
    line-height: 1.1;
    font-weight: 400;
}
.ene-ul li .elist .e-span{
    font-size: 20px;
    display: block;
    padding-top: 15px;
    opacity: 0.6;
}
.ene-ul li .elist .e-img-1{
    position: absolute;
    right: 50px;
    top: 37px;
}
.ene-ul li .elist .e-img-2{
    position: absolute;
    top: 50px;
    right: 55px;
}
.ene-ul li .elist .e-img-3{
    position: absolute;
    top: 64px;
    right: 28px;
}
.ene-ul li .elist .e-img-4{
    position: absolute;
    top: 56px;
    right: 59px;
}


.ene-ul li .elist .ep-top{
    padding-top: 64px;
}
.ene-ul li:nth-child(2){margin-right:0;}
.ene-ul li:nth-child(3){margin-bottom:0;}
.ene-ul li:nth-child(4){margin-right:0; margin-bottom:0;}

.ene-ul:after{content:''; clear:both;display: block;}

.btn-box{
    padding: 100px 0 140px 0;
    display: table;
    width: 510px;
    height: 170px;
    margin: 0 auto;
}
.btn-1{
    width: 510px;
    height: 170px;
    background-color: #ff556a;
    display: table-cell;
    font-size: 42px;
    color: #fff;
    margin: 0 auto;
    text-align: center;
    vertical-align: middle;
    line-height: 1.3;
}
.btn-1:hover{color:#fff;}


.footer-wrap{
    max-width: 1320px;
    margin: 0 auto;
}
.footer-wrap .footer-box{
    padding-bottom: 79px;
}
.footer-wrap .footer-box .footer-title{
    font-size: 25px;
    font-family: "Pretendard";
    padding-bottom: 25px;
    font-weight: bold;
    color: #687b79;
    letter-spacing: -0.25px;
}
.footer-wrap .footer-box .footer-text{}
.footer-wrap .footer-box .footer-text ol{}
.footer-wrap .footer-box .footer-text ol li{
    color: #687b79;
    font-size: 17px;
    font-family: "Pretendard";
    position: relative;
    padding-left: 20px;
}
.footer-wrap .footer-box .footer-text ol li:after{content:'„Üç';position: absolute;left: 0;top: 0;}
.pd_l20{padding-left:20px;}
.pd_ta{display:block;}
.dib{display:block;}
.letter-1-2{letter-spacing:-1.2px;}


