<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.community.fo.mybatis.mapper.BoardMapper">

    <resultMap id="boardResult" type="com.community.fo.mybatis.vo.BoardVo">
        <id property="boardSq" column="BOARD_SQ"/>
	 	<id property="mbrId" column="MBR_ID"/>
	 	<id property="title" column="TITLE"/>
	 	<id property="delCd" column="DEL_CD"/>
	 	<id property="contents" column="CONTENTS"/>
	 	<id property="recmmndCnt" column="RECMMND_CNT"/>
	 	<id property="viewCnt" column="VIEW_CNT"/>
	 	<id property="keyword1" column="KEYWORD1"/>
	 	<id property="keyword2" column="KEYWORD2"/>
	 	<id property="keyword3" column="KEYWORD3"/>
	 	<id property="keyword4" column="KEYWORD4"/>
	 	<id property="keyword5" column="KEYWORD5"/>
	 	<id property="selectionYn" column="SELECTION_YN"/>
	 	<id property="selecttionDivCd" column="SELECTION_DIV_CD"/>
	 	<id property="noticeDivCd" column="NOTICE_DIV_CD"/>
	 	<id property="useYn" column="USE_YN"/>
	 	<id property="delYn" column="DEL_YN"/>
	 	<id property="registMbrSq" column="REGIST_MBR_SQ"/>
	 	<id property="registDatetime" column="REGIST_DATETIME"/>
	 	<id property="modifyMbrSq" column="MODIFY_MBR_SQ"/>
	 	<id property="modifyDateTime" column="MODIFY_DATETIME"/>	
    </resultMap>


    <select id="ListBoards" resultMap="boardResult">
        SELECT * FROM TBL_BOARD_M
    </select>
	<select id="selectBoard" parameterType="int" resultMap="boardResult">
	     SELECT * FROM TBL_BOARD_M WHERE board_sq = #{boardSq}
    </select>

</mapper>