<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.community.fo.mybatis.mapper.MemberMapper">

	<select id="empList" parameterType="com.community.fo.mybatis.vo.MemberVo" resultType="com.community.fo.mybatis.vo.MemberVo">
	<!--직원 리스트-->
		SELECT 
			*
		FROM TBL_MBR_M;
	</select>
	
	<select id="getMemberById" parameterType="String" resultType="Integer">
	<!--아이디 중복 체크-->
		SELECT 
			COUNT(*)		
		FROM TBL_MBR_M
		WHERE ID = #{id};
	</select>
	
	<select id="getMemberByNicknm" parameterType="String" resultType="Integer">
	<!--닉네임 중복 체크-->
		SELECT 
			COUNT(*)		
		FROM TBL_MBR_M
		WHERE NICKNM = #{nicknm};
	</select>
	
	
</mapper>