.selected {
    font-size: 15px;
    font-weight: bold;
    text-decoration: underline;
    text-underline-offset: 0.5rem;
}
.scrollbar { 
    height: 250px;
    overflow-y: auto; 
}

/* 스크롤바의 폭 너비 */
.scrollbar::-webkit-scrollbar {
    width: 10px;  
}

.scrollbar::-webkit-scrollbar-thumb {
    background: rgb(95, 90, 108); /* 스크롤바 색상 */
    border-radius: 10px; /* 스크롤바 둥근 테두리 */
}

.scrollbar::-webkit-scrollbar-track {
    background: rgba(220, 20, 60, .1);  /*스크롤바 뒷 배경 색상*/
}

.disabled {
    opacity: 0.5;
    pointer-events: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 1);
    z-index: 1;
}

.showChecked {
    display: inline-block;
    border: 1px solid #eaeaea;
    margin: 5px 3px;
    border-radius: 80px;
    padding: 5px 8px;
}